<div class="container mt-5">
  <h3 class="p-3">Add Equipments</h3>
  <div class="row">
    <div class="col-md-7">
      <div class="card shadow">
        <div class="card-header text-black text-center">Equipment</div>
        <div class="card-body">
          <form [formGroup]="createForm">
            <div class="mb-3">
              <label for="equipment_name" class="form-label">name</label>
              <input
                type="text"
                class="form-control"
                formControlName="_equipment_name"
                name="Enter equipment name"
              />

              @if (refName.invalid && (refName.touched || refName.dirty)) { @if
              (refName.errors?.['required']) {
              <small class="text-danger">User name is required</small>
              } @if (refName.errors?.['minlength']) {
              <small class="text-danger">Name must be at least {{ min_Length }} char long</small>
              } @if (refName.errors?.['maxlength']) {
              <small class="text-danger">Name must be at least {{ max_length }} char long</small>
              } }
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <input
                type="text"
                class="form-control"
                formControlName="_description"
                name="Enter description"
              />

              @if (refDescription.invalid && (refDescription.touched || refDescription.dirty)) { @if
              (refDescription.errors?.['required']) {
              <small class="text-danger">Description is required</small>
              } @if (refDescription.errors?.['minlength']) {
              <small class="text-danger"
                >Description must be at least {{ min_Length }} char long</small
              >
              } @if (refDescription.errors?.['maxlength']) {
              <small class="text-danger"
                >Description must be at least {{ max_length }} char long</small
              >
              } }
            </div>
            <div class="mb-3">
              <div class="form-check form-switch form-check-reverse">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="isAvailable"
                  formControlName="_isAvailable"
                />
                <label class="form-check-label" for="isAvailable">IsAvailable</label>
                @if (refAvailable.defaultValue) { @if (refAvailable.errors?.['required']) {
                <small class="text-danger">Availability is required</small>
                } }
              </div>
            </div>
            <div class="mb-3">
              <label for="status" class="form-label">Status</label>
              <select class="form-select" formControlName="_status" id="status">
                <option value="Available">Available</option>
                <option value="Rented">Rented</option>
                <option value="Maintenance">Maintenance</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="category" class="form-label">Category</label>
              <select class="form-select" formControlName="_category" id="category">
                <option value="HeavyMachinery">HeavyMachinery</option>
                <option value="PowerTools">PowerTools</option>
                <option value="Vehicles">Vehicles</option>
                <option value="Safety">Safety</option>
                <option value="Surveying">Surveying</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="condition" class="form-label">Condition</label>
              <select class="form-select" formControlName="_condition" id="condition">
                <option value="New">New</option>
                <option value="Excellent">Excellent</option>
                <option value="Good">Good</option>
                <option value="Fair">Fair</option>
                <option value="Poor">Poor</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary w-100" (click)="add()">
              Add Equipment
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
