<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center p-3">
    <h2 class="m-0">All Equipments</h2>
    <a routerLink="/add-equipment" class="btn btn-success">Create</a>
  </div>

  @if (errorMessage) {
    <div class="alert alert-warning">{{ errorMessage }}</div>
  }

  <div class="row text-primary text-center">
    <table class="table table-hover table-striped-columns table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Description</th>
          <th>IsAvailable</th>
          <th>Status</th>
          <th>Category</th>
          <th>Condition</th>
          <th>Manage</th>
        </tr>
      </thead>
      <tbody>
        @if (equipments$ | async; as equipments) { @if (equipments.length === 0) {
        <tr>
          <td colspan="8" class="text-center">No equipment available</td>
        </tr>
        } @else { @for (equipment of equipments; track equipment) {
        <tr>
          <td>{{ equipment.id }}</td>
          <td>{{ equipment.name }}</td>
          <td>{{ equipment.description }}</td>
          <td>{{ equipment.isAvailable }}</td>
          <td>{{ equipment.status }}</td>
          <td>{{ equipment.category }}</td>
          <td>{{ equipment.condition }}</td>
          <td class="col">
            <a [routerLink]="['/view-equipment']" class="me-2 text-decoration-none btn btn-info">View Details</a>
            <a [routerLink]="['/edit-equipment', equipment.id]" class="me-2 text-decoration-none btn btn-primary">Edit</a>
            <a [routerLink]="['/delete-equipment']" class="text-decoration-none btn btn-danger">Delete</a>
          </td>
        </tr>
        } } } @else {
        <tr>
          <td colspan="8" class="text-center">Loading...</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
