<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center p-4">
    <h3 class="m-0">All Customers</h3>
    <a routerLink="/add-customer" class="btn btn-success">Create</a>
  </div>

  @if (errorMessage) {
  <div class="alert alert-warning">{{ errorMessage }}</div>
  }

  <div class="row g-3 align-items-start">
    <!-- Customer form -->
    <div class="row text-primary text-center">
      <table class="table table-hover table-striped-columns table-bordered table-sm" style="font-size: 0.9rem;">
        <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Username</th>
          <th>Role</th>
          <th>Active</th>
          <th>Manage</th>
        </tr>
        </thead>
        <tbody>
          @if (customers$ | async; as customers) { @if (customers.length === 0) {
            <tr>
              <td colspan="5" class="text-center">No customers found</td>
            </tr>
          } @else { @for (c of customers; track c) {
            <tr>
              <td>{{ c.id }}</td>
              <td>{{ c.name }}</td>
              <td>{{ c.username }}</td>
              <td>{{ c.role }}</td>
              <td>{{ c.isActive }}</td>
              <td class="col"><a [routerLink]="['/customer-detail', c.id]" class="me-2 text-decoration-none btn btn-info btn-sm">View Details</a>
                <a [routerLink]="['/edit-customer', c.id]" class="me-2 text-decoration-none btn btn-primary btn-sm">Edit</a>
                <button class="text-decoration-none btn btn-outline-danger btn-sm" (click)="onDelete(c.id)">
                  Delete
                </button>
              </td>
            </tr>
          } } } @else {
            <tr>
              <td colspan="5" class="text-center">Loading...</td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <!-- Image Card -->
    <div class="col-md-6 d-flex">
      <div class="card shadow-lg">
        <img ngSrc="/images/customer.png" class="card-img-top" alt="hammer logo" height="200" width="200">
      </div>
    </div>
  </div>
</div>
