/* You can add global styles to this file, and also import other style files */
.nav-tabs .nav-link {
  color: #2c3e50 !important;
}

.nav-tabs .nav-link:hover {
  color: #007bff !important;
}

/*.nav-tabs .nav-link {*/
/*  color: #28a745 !important;*/
/*  font-weight: 600;*/
/*  border-bottom: 2px solid #28a745;*/
/*}*/

